---
  # Title: Global group variabl(s)
  #
  #


  # -- Repository server --
  #
  # We use an webserver for hosting our packages
  #
  # Variable(s):
  #   repo_ip: '192.168.0.1' # Set IP for HTTP resource server
  #
  repo_ip: '192.168.0.172'