<html>
<title>Ansible Control Server on {{ ansible_host }} </title>
  <head>

  </head>
  <body> 
    <center>
      <img src=https://upload.wikimedia.org/wikipedia/commons/2/24/Ansible_logo.svg></img>
      <font face="Verdana"><a href="resource/"dc0><h1>repository</h1></a></font>

      </center>
  </body>

</html>

